<!--
Template: Front Page
-->

<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"leadmagnet/hero-split-showit"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/domain-grid"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/flex-section-showit"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/home-review-section-showit"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/about-me-section"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/vision-and-workflow-section"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/call-to-action-section"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/recommended-articles-section"} /-->

</main>

<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
