<!--
Template: Over Mij
-->

<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"main"},"tagName":"main","style":{"spacing":{"blockGap":"0"}}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"leadmagnet/hero-section-image-right"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/info-card"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/surface-section"} /-->

  <!-- wp:group {"metadata":{"name":"flex-group"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|8","bottom":"var:preset|spacing|8"}}},"layout":{"type":"constrained"}} -->
  <div
    class="wp-block-group"
    style="
      padding-top: var(--wp--preset--spacing--8);
      padding-bottom: var(--wp--preset--spacing--8);
    "
  >
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group">
      <!-- wp:group {"metadata":{"name":"list-card"},"style":{"elements":{"link":{"color":{"text":"var:preset|color|jet-black"}}},"spacing":{"padding":{"top":"var:preset|spacing|3","bottom":"var:preset|spacing|3","left":"var:preset|spacing|2","right":"var:preset|spacing|2"}},"border":{"radius":{"topLeft":"16px","topRight":"16px","bottomLeft":"16px","bottomRight":"16px"}}},"backgroundColor":"soft-linen","textColor":"jet-black","layout":{"type":"constrained"}} -->
      <div
        class="wp-block-group has-jet-black-color has-soft-linen-background-color has-text-color has-background has-link-color"
        style="
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          padding-top: var(--wp--preset--spacing--3);
          padding-right: var(--wp--preset--spacing--2);
          padding-bottom: var(--wp--preset--spacing--3);
          padding-left: var(--wp--preset--spacing--2);
        "
      >
        <!-- wp:heading -->
        <h2 class="wp-block-heading">Mijn achtergrond en expertise</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"style":{"typography":{"textTransform":"uppercase"}}} -->
        <p style="text-transform: uppercase">Dit is wat ik meebreng</p>
        <!-- /wp:paragraph -->

        <!-- wp:list -->
        <ul class="wp-block-list">
          <!-- wp:list-item -->
          <li>Fysiotherapeut sinds 2007 met brede praktijk ervaring</li>
          <!-- /wp:list-item -->

          <!-- wp:list-item -->
          <li>
            Gespecialiseerd in manuele therapie, dry deedling, facia-intergratie
            en pijn-reset methodes
          </li>
          <!-- /wp:list-item -->

          <!-- wp:list-item -->
          <li>Opleiding gevolgd in leefstijlcoaching en Physis 6-domeinen</li>
          <!-- /wp:list-item -->

          <!-- wp:list-item -->
          <li>
            Meer dan 15 jaar ervaring in het begeleiden van clienten met
            complexe of terug kerende klachten
          </li>
          <!-- /wp:list-item -->
        </ul>
        <!-- /wp:list -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"metadata":{"name":"cards-flex-group"},"layout":{"type":"flex","orientation":"vertical"}} -->
      <div class="wp-block-group">
        <!-- wp:group {"metadata":{"name":"review-card"},"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"var:preset|spacing|3","bottom":"var:preset|spacing|3","left":"var:preset|spacing|2","right":"var:preset|spacing|2"}},"border":{"radius":{"topLeft":"16px","topRight":"16px","bottomLeft":"16px","bottomRight":"16px"}}},"backgroundColor":"jet-black","textColor":"white","layout":{"type":"constrained"}} -->
        <div
          class="wp-block-group has-white-color has-jet-black-background-color has-text-color has-background has-link-color"
          style="
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            padding-top: var(--wp--preset--spacing--3);
            padding-right: var(--wp--preset--spacing--2);
            padding-bottom: var(--wp--preset--spacing--3);
            padding-left: var(--wp--preset--spacing--2);
          "
        >
          <!-- wp:heading {"level":3} -->
          <h3 class="wp-block-heading">Client uit Heerhugowaard</h3>
          <!-- /wp:heading -->

          <!-- wp:paragraph -->
          <p>
            "Ik voelde me gezien en begrepen. Bart keek eindelijk verder dan
            mijn klachten en gaf me een plan dat echt werkte"
          </p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"metadata":{"name":"review-card"},"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"var:preset|spacing|3","bottom":"var:preset|spacing|3","left":"var:preset|spacing|2","right":"var:preset|spacing|2"}},"border":{"radius":{"topLeft":"16px","topRight":"16px","bottomLeft":"16px","bottomRight":"16px"}}},"backgroundColor":"jet-black","textColor":"white","layout":{"type":"constrained"}} -->
        <div
          class="wp-block-group has-white-color has-jet-black-background-color has-text-color has-background has-link-color"
          style="
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            padding-top: var(--wp--preset--spacing--3);
            padding-right: var(--wp--preset--spacing--2);
            padding-bottom: var(--wp--preset--spacing--3);
            padding-left: var(--wp--preset--spacing--2);
          "
        >
          <!-- wp:heading {"level":3} -->
          <h3 class="wp-block-heading">Client uit Heerhugowaard</h3>
          <!-- /wp:heading -->

          <!-- wp:paragraph -->
          <p>
            "Ik voelde me gezien en begrepen. Bart keek eindelijk verder dan
            mijn klachten en gaf me een plan dat echt werkte"
          </p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:pattern {"slug":"leadmagnet/dark-cta-section"} /-->

  <!-- wp:group {"metadata":{"name":"flex-group"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|8","bottom":"var:preset|spacing|8"}}},"layout":{"type":"constrained"}} -->
  <div
    class="wp-block-group"
    style="
      padding-top: var(--wp--preset--spacing--8);
      padding-bottom: var(--wp--preset--spacing--8);
    "
  >
    <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|5"}},"layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
    <div class="wp-block-group">
      <!-- wp:group {"className":"justify-center","style":{"layout":{"columnSpan":1,"rowSpan":1},"spacing":{"blockGap":"var:preset|spacing|4"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"right"}} -->
      <div class="wp-block-group justify-center">
        <!-- wp:heading {"textAlign":"right"} -->
        <h2 class="wp-block-heading has-text-align-right">
          Het programma dat echt verschil maakt
        </h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"align":"right"} -->
        <p class="has-text-align-right">
          Mijn belangrijkste traject is het Physis 6-domeinenprogramma bij
          aanhoudende klachten. Hierin kijken we samen waar jous grootste winst
          zit, en werken we stap voor stap naar herstel en energie.
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"right"}} -->
        <div class="wp-block-buttons">
          <!-- wp:button {"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"400"}},"fontSize":"md"} -->
          <div class="wp-block-button">
            <a
              class="wp-block-button__link has-md-font-size has-custom-font-size wp-element-button"
              style="
                font-style: normal;
                font-weight: 400;
                text-transform: uppercase;
              "
              >ontdek het physis programma</a
            >
          </div>
          <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
      </div>
      <!-- /wp:group -->

      <!-- wp:image {"id":293,"scale":"cover","sizeSlug":"medium","linkDestination":"none","className":"is-style-default","style":{"layout":{"columnSpan":1,"rowSpan":1}}} -->
      <figure class="wp-block-image size-medium is-style-default">
        <img
          src="http://leadengine.local/wp-content/uploads/2026/01/Schema-6-domeinen-transparent-bg-300x300.webp"
          alt="Schema van het Physis 6-domeinen model"
          class="wp-image-293"
          style="object-fit: cover"
        />
      </figure>
      <!-- /wp:image -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"metadata":{"name":"about me section"},"className":"container","style":{"spacing":{"padding":{"top":"var:preset|spacing|8","bottom":"var:preset|spacing|8"}}},"backgroundColor":"soft-linen","layout":{"type":"constrained","contentSize":"","wideSize":""}} -->
  <div
    class="wp-block-group container has-soft-linen-background-color has-background"
    style="
      padding-top: var(--wp--preset--spacing--8);
      padding-bottom: var(--wp--preset--spacing--8);
    "
  >
    <!-- wp:group {"className":"flex-group, align-center","style":{"spacing":{"blockGap":"var:preset|spacing|5"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group flex-group, align-center">
      <!-- wp:image {"id":35,"sizeSlug":"full","linkDestination":"none"} -->
      <figure class="wp-block-image size-full">
        <img
          src="http://leadengine.local/wp-content/uploads/2025/12/Bart-de-Lijfstijl.webp"
          alt="Bart Groot oprichter van De LIjfstijl"
          class="wp-image-35"
        />
      </figure>
      <!-- /wp:image -->

      <!-- wp:group {"metadata":{"name":"text-group"},"className":"text-column","layout":{"type":"constrained"}} -->
      <div class="wp-block-group text-column">
        <!-- wp:paragraph {"style":{"typography":{"textTransform":"uppercase"}}} -->
        <p style="text-transform: uppercase">Over mij</p>
        <!-- /wp:paragraph -->

        <!-- wp:heading -->
        <h2 class="wp-block-heading">Mijn missie</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph -->
        <p>
          Is mensen helpen om regie over hun gezondheid terug te krijgen. Dat
          betekend niet alleen behandelen, maar ook inzichten geven, leefstijl
          verbeteren en mentale veerkracht versterken. Geen symptoombestrijding,
          maar een aanpak die kijkt naar de echte oorzaak: waardoor is het
          lichaam uit balans geraakt?
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>
          Daarbij kijk ik naar lichaam, gedrag en omgeving - omdat alles met
          elkaar samenhangt. Ik geloof dat echte, blijvende verandering mogelijk
          is wanneer je begrijpt waar je klachten vandaan komen en actief werkt
          aan herstel op alle niveaus.
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:buttons -->
        <div class="wp-block-buttons">
          <!-- wp:button {"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"400"}}} -->
          <div class="wp-block-button">
            <a
              class="wp-block-button__link wp-element-button"
              href="http://leadengine.local/over-mij/"
              style="
                font-style: normal;
                font-weight: 400;
                text-transform: uppercase;
              "
              >lees meer</a
            >
          </div>
          <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"metadata":{"name":"review-section"},"style":{"background":{"backgroundImage":{"url":"http://leadengine.local/wp-content/uploads/2025/12/reviews-de-lijfstijl-scaled.webp","id":46,"source":"file","title":"reviews-de-lijfstijl"},"backgroundSize":"cover"},"spacing":{"padding":{"top":"var:preset|spacing|8","bottom":"var:preset|spacing|8"}}},"layout":{"type":"constrained","contentSize":"75%","wideSize":"75%"}} -->
  <div
    class="wp-block-group"
    style="
      padding-top: var(--wp--preset--spacing--8);
      padding-bottom: var(--wp--preset--spacing--8);
    "
  >
    <!-- wp:group {"style":{"border":{"radius":{"topLeft":"16px","topRight":"16px","bottomLeft":"16px","bottomRight":"16px"}},"spacing":{"padding":{"top":"var:preset|spacing|3","bottom":"var:preset|spacing|3","left":"var:preset|spacing|3","right":"var:preset|spacing|3"}}},"backgroundColor":"jet-black","layout":{"type":"constrained","wideSize":"","contentSize":""}} -->
    <div
      class="wp-block-group has-jet-black-background-color has-background"
      style="
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        padding-top: var(--wp--preset--spacing--3);
        padding-right: var(--wp--preset--spacing--3);
        padding-bottom: var(--wp--preset--spacing--3);
        padding-left: var(--wp--preset--spacing--3);
      "
    >
      <!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|pale-sky"}}}},"textColor":"pale-sky"} -->
      <h2
        class="wp-block-heading has-text-align-center has-pale-sky-color has-text-color has-link-color"
      >
        Klaar om kennis te maken?
      </h2>
      <!-- /wp:heading -->

      <!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|pale-sky"}}}},"textColor":"pale-sky"} -->
      <p
        class="has-text-align-center has-pale-sky-color has-text-color has-link-color"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.&nbsp;
      </p>
      <!-- /wp:paragraph -->

      <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"space-between"}} -->
      <div class="wp-block-buttons">
        <!-- wp:button {"width":50,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"400"}}} -->
        <div class="wp-block-button has-custom-width wp-block-button__width-50">
          <a
            class="wp-block-button__link wp-element-button"
            style="
              font-style: normal;
              font-weight: 400;
              text-transform: uppercase;
            "
            >download de vragenlijst</a
          >
        </div>
        <!-- /wp:button -->

        <!-- wp:button {"width":50,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"400"}}} -->
        <div class="wp-block-button has-custom-width wp-block-button__width-50">
          <a
            class="wp-block-button__link wp-element-button"
            style="
              font-style: normal;
              font-weight: 400;
              text-transform: uppercase;
            "
            >plan een gratis intake</a
          >
        </div>
        <!-- /wp:button -->
      </div>
      <!-- /wp:buttons -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
