<!--
Template: Over Mij
-->

<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"main"},"tagName":"main","style":{"spacing":{"blockGap":"0"}}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"leadmagnet/section-hero-image-right"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-flex-card-light"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-light-bg-flex-image-left"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-flex-image-right"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-flex-with-reviews"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-dark-bg-cta-text-only"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-flex-image-right"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-light-bg-flex-image-left"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-cta-bg-image-and-card"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
