  <!--
Template: Trajecten
-->

<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"main"},"tagName":"main","style":{"spacing":{"blockGap":"0"}}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"leadmagnet/section-hero-image-right"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-flex-card-light"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-dark-bg-grid"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-review-with-bg-image"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-flex-image-right"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-dark-bg-card-grid"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-review-with-bg-image"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-flex-image-right"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-light-bg-for-who-card"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/section-cta-bg-image-and-card"} /-->


</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
