  <!--
Template: Trajecten
-->

<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"main"},"tagName":"main","style":{"spacing":{"blockGap":"0"}}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"leadmagnet/hero-section-image-right"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/info-card"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/domain-grid"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/home-review-section-showit"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/double-column-wrapper"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/domain-grid"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/cta-section-bg-image"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/double-column-wrapper"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/is-this-for-you-section"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/cta-background-image-card"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/faq-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
