<!--
Template: Trajecten
-->

<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"leadmagnet/sales-page-hero"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/sales-info-card"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/domain-grid"} /-->
  <!-- wp:pattern {"slug":"leadmagnet/home-review-section-showit"} /-->
</main>

<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
